KENPOM_EMAIL=
KENPOM_PASSWORD=
APP_ENV=development
SPORTS_REFERENCE_BASE_URL=https://www.sports-reference.com/cbb
DATA_TTL_HOURS=24
MODEL_DIR=models_artifacts
API_HOST=127.0.0.1
API_PORT=8000
FRONTEND_API_URL=http://127.0.0.1:8000
